#toDoList li {
  list-style-type: none;
  margin: 15px;
  border-style: inset;
  padding: 5px;
  overflow: auto;
}

.completed div {
  color: hsl(1, 4%, 66%);
  text-decoration: line-through;
}
#toDoList .btn {
  margin-left: 10px;
}
#itemInput {
  margin: 10px;
}

.btn {
  max-width: 10%;
  max-height: 38px;
  margin: 5px;
}

.img-fluid {
  max-width: 32px;
  max-height: 32px;
  min-width: 32px;
  min-height: 32px;
}
